@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin horizontal-list {
  @include reset-list;

  li {
    display: inline-block;
    margin: {
      left: -2px;
      right: 2em;
    }
  }
}

@mixin truncate($width,$line){
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: $width;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
}

@mixin size($width,$height){
  width: $width;
  height: $height;
}

