@use "../../../../scss/helpers" as h;

.Navbar {
	&-container {
		display: flex;
		margin-top: 22px;
		font-size: 14px;
		align-items: center;
		img {
			max-width: 13px;
			max-height: 15px;
		}
	}

	&-way {
		margin: 0 8px;
		text-decoration: none;
		color: #00518b;
		font-weight: 600;
	}

	&-firstChild {
		font-size: 11px;
		font-weight: 600;
	}

	&-middleChild {
		justify-content: space-between;
		font-weight: 600;
		font-size: 14px;
		margin: revert;
	}

	&-lastChild {
		justify-content: end;
		font-size: 13px;

		@include h.min-lg {
			font-size: 20px;
			position: relative;
			bottom: 3px;
		}
	}
}