@use "../../../scss/helpers" as h;

.CardProduct {
    background-color: #fff;
    text-align: center;
    min-width: 160px;
    height: 250px;
    padding: 4px 20px 25px 20px;
    box-shadow: 0px 1px 1px #C7C7CC;
    border-radius: 8px;

    @include h.min-md{
        width: 310px;
        margin: 0 auto;
    }

    @include h.min-lg {
        width: 228px;
        height: 391px;
        padding-top: 8px;
    }

    &-way {
        text-decoration: none;
    }

    &-picture {
        @include h.size(120px, 120px);

        @include h.min-lg {
            @include h.size(173px, 200px);
        }
    }

    &-content {
        &__title {
            color: #1b1b1c;
            font-size: 16px;
            height: 32px;
            @include h.truncate(400px, 2);
            margin-top: 8px;

            @include h.min-md{
                margin-top: 20px;
            }
        }

        &__last {
            font-size: 11px !important;
            line-height: 21px;
            text-decoration-line: line-through;
            color: #636367;
            margin: 16px 0 4px 0;
        }

        &__current {
            color: #00518b;
            font-size: 16px;
            line-height: 36px;
            font-weight: bold;
            margin-bottom: 25px;
        }
    }
}
