@use "../../../scss/helpers" as h;

.SmallNewsText {
    width: 100%;
    background-color: #fff;
    color: #115292;

    @include h.min-lg {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding: 40px 0;
    }

    &-title {
        font-family: "Exo", sans-serif;
        font-weight: 600;
        font-size: 18px;
        margin: 10px 0 15px 0;

        @include h.min-lg {
            font-size: 32px;
            margin-left: 90px;
            
        }
    }

    &-paragraphs {
        font-family: "Nunito Sans";
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 15px;

        @include h.min-lg{
            margin-bottom: 0;
            margin-left: 90px; 
            font-size: 16px;
        }
    }

    &-btnBox {
        margin: auto;
        width: 140px;

        @include h.min-lg{
            width: 220px;
        margin-left: 90px;
        }
    }
}
