@use "../../../scss/helpers" as h;

.Header {
	height: 80px;
	font-family: "Nunito", sans-serif;
	background: #fafafa;
	margin-bottom: 30px;
	padding-bottom: 120px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);

	&-logo {
		@include h.size(350px, 43px);
		margin-top: 16px;
	}

	&-cart {
		@include h.size(33px, 29px);
		margin-top: 28px;
	}


.Header-nav {
	&__container {
		display: flex;
		margin-top: 22px;
		font-size: 14px;
		align-items: center;
		img {
			max-width: 13px;
			max-height: 15px;
		}
	}

	&__way {
		margin: 0 8px;
		text-decoration: none;
		color: #00518b;
		font-weight: 600;
	}

	&__first-child {
		font-size: 11px;
		font-weight: 600;
	}

	&__middle-child {
		justify-content: space-between;
		font-weight: 600;
		font-size: 14px;
	}

	&__last-child {
		justify-content: end;
		font-size: 13px;

		@include h.min-lg {
			font-size: 20px;
			position: relative;
			bottom: 3px;
		}
	}
}
}