@use "../../../scss/helpers" as h;

.Header {
	height: 80px;
	font-family: "Nunito", sans-serif;
	background-color: #fff;
	padding-bottom: 120px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);

	&-logo {
		@include h.size(350px, 43px);
		margin-top: 16px;
	}

	&-cart {
		@include h.size(33px, 29px);
		margin-top: 28px;
	}
}