@use "../../../../scss/helpers" as h;

.MenuItem {
    margin: 15px 0;
    height: 25px;

    @include h.min-md {
        margin: 8px 0;
    }

    &-way {
        text-decoration: none;
        color: #fafafa !important;
        font-size: 18px;
        font-weight: 400;

        &:hover {
            color: #fff;
            transition-duration: 1s;
        }

        @include h.min-md {
            font-size: 12px;
        }
    }
}