@use "../../../scss/helpers" as h;

h1 {
    font-weight: 700;
    font-size: 32px;
    color: #00518b;
}

ul {
    margin: 34px 0;
    padding-left: 0 !important;
}

li {
    margin: 8px 0;
}

p {
    margin: 5px 0;
}

a,
address {
    color: #00518b !important;
    text-decoration: none;
    font-weight: 700;
}

table {
    border: 1px solid #777777;
    font-size: 14px;
    text-align: center;
    margin: 40px 0 50px 0;

    @include h.min-md {
        font-size: 16px;
        min-height: 220px;
        margin: 50px 0 80px 0;
    }
}

tr {
    border: 1px solid #777777;

    td {
        border: 1px solid #777777;
    }
}


