@use "../../../scss/helpers" as h;

.WhoWeAre {
    font-size: 16px;
    color: #777777;

    &-title {
        font-weight: 700;
        font-size: 32px;
        color: #00518b;
    }

    &-containerList {
        margin: 34px 0;
        padding-left: 0;

        &__item {
            margin: 8px 0;
        }
    }

    &-moreInformation {
    
        &__paragraph{
            margin: 5px 0;
        }
        &__contact {
            color: #00518b !important;
            text-decoration: none;
            font-weight: 700;
        }
    }

    &-table {
        border: 1px solid #777777;
        font-size: 14px;
        text-align: center;
        margin: 40px 0 50px 0;

        @include h.min-md {
            font-size: 16px;
            min-height: 220px;
            margin: 50px 0 80px 0;
        }

        &__line {
            border: 1px solid #777777;
        }

        &__column {
            border: 1px solid #777777;
        }
    }
}
// .PageProduct-picture {
//     @include h.size(94%, 94%);

//     @include h.min-md {
