@use "../../scss/helpers" as h;

.Header {
	font-family: "Nunito", sans-serif;
	height: 70px;
	margin-bottom: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);

	@include h.min-md {
		height: 80px;
		background: #fafafa;
		margin-bottom: 30px;
		padding-bottom: 120px;
	}

	&-logo {
		@include h.size(244px,30px);
		margin-top: 20px;

		@include h.min-md {
			@include h.size(350px,43px);
			margin-top: 16px;
		}
	}

	&-cart {
		@include h.size(30px,26px);
		margin-top: 23px;

		@include h.min-md {
			width: 33px;
			height: 29px;
			margin-top: 28px;
		}
	}
}
