@use "../../../scss/helpers" as h;

.PageProduct {
    padding: 50px 0;
    &-picture {
        @include h.size(94%, 94%);

        @include h.min-md {
            max-width: 644px;
            max-height: 644px;
        }
    }
}
