@use "../../../../scss/helpers" as h;

.ProductTr {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    &-product{
        display: flex;
        flex-direction: column;
        align-items: center;

        @include h.min-md{
            display: table-cell;
        }

        &__picture {
            @include h.size(56px, 56px);
            object-fit: contain;
            vertical-align: middle;
            margin-top: 12px;
        
            @include h.min-md{
                margin: 29px 18px;
            }
        }

        &__title {
            vertical-align: middle;
            color: #363636;
            font-size: 14px;
            padding: 12px 0;
            max-width: 57%;
            display: flex;
            text-align: center;

            @include h.min-sm{
                display: -webkit-inline-box;
            }
        }
    }

    &-boxPrices {
        font-weight: 600;
        vertical-align: middle;

        &__last {
            font-size: 12px !important;
            line-height: 16px;
            text-decoration-line: line-through;
            color: #767676;
        }

        &__current {
            color: #000;
            font-size: 12px;
            line-height: 16px;
        }
    }

    &-total{
        vertical-align: middle;
        font-weight: 600;
        color: #000;
        font-size: 14px;
        line-height: 19px;
    }
}
