.Banner {
	margin: 10% auto;
	
	@media (min-width: 769px) {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		margin: 0;
	}

	&-Div {
		display: flex;

		@media (min-width: 769px) {
			flex-direction: row;
		}

		&__img {
			border-radius: 20px;
			width: 87%;
			margin: 23px auto;
			max-width: 400px;
			max-height: 240px;

			&:hover {
				outline: 4px solid green;
			}

			@media (min-width: 769px) {
				border-radius: 0;
				margin: 8% 8%;
			}
		}	
	}	
}
