//Breakpoints
$min-sm: 576px;
$min-md: 768px;
$min-lg: 992px;
$min-xl: 1200px;
$min-xxl: 1920px;

$max-sm: 767px;
$max-md: 991px;
$max-lg: 1199px;
$max-xl: 1919px;
$max-xxl: 2559px;

/*Z-index*/
$z-index-0: 0;
$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;
$z-index-4: 400;
$z-index-5: 500;
$z-index-6: 600;
$z-index-7: 700;
$z-index-8: 800;
$z-index-9: 900;
$z-index-10: 1000;
$z-index-max: 9999;

$color-1: red;